:host {
  border: 1px solid #333;
  border-radius: 10px;
  display: block;
  padding: 10px;
}

img {
  max-width: 100%;
}

button {
  width: 100%;
  padding: 0.875rem 2.1875rem;
  background-color: #4ba8d8;
  border: 0px;
  border-radius: 50px;
  color: white;
}
